.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 50px;
  padding-top: 50px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: center;
}
