.wrapper {
  width: 100%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
}